.product-form {
    background-color: #5D737E;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: white;
}

.product-info {
    margin-bottom: 15px;
}

.product-info input,
.product-info textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4B636E;
    color: white;
}

.product-info input:disabled,
.product-info textarea:disabled {
    background-color: #7A9A9F;
}

button {
    background-color: #3C4D50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2D3D40;
}
