h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.order-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.order-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.order-list p {
    text-align: center;
    color: #777;
    font-size: 18px;
}

.order-card {
    background-color: #eaeaea;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}
